<style>
*
{
    margin:0%;
    padding:0%;
}
body
{
   background-image: url(back22.jpg);
   background-attachment: fixed;
   background-size:cover;
   background-repeat:no-repeat;
}
section
{
    padding:70px
}
.second
{
   
   width:400px;
   height:400px;
   margin:20px;
   padding:40px auto 20px auto;
   opacity:.9;
   float:right;

border: 1px solid rgb(12, 12, 12);
border-radius: 15px 50px 30px;
background-color: #070707;
filter: alpha(opacity=60);

}

.logo
{
   padding-left: 35%;
   padding-top: 20px;
}
img
{
 border-radius: 50%;
  justify-content: center;

 }

p
{
  color:white;
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;   
  line-height:1em;
   
  font-size: 35px;
background: -webkit-linear-gradient(#eee, rgb(69, 53, 216));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  padding:5px;
}  


.wrapper {
display: flex;
justify-content: center;
padding-top: 40px;
}

.cta {
display: flex;
padding: 10px 45px;
text-decoration: none;
font-family: 'Poppins', sans-serif;
font-size: 40px;
color: white;
background: #6225E6;
transition: 1s;
box-shadow: 6px 6px 0 black;
transform: skewX(-15deg);
}

.cta:focus {
outline: none; 
}

.cta:hover {
transition: 0.5s;
box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
transition: 0.5s;
margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
transition: 0.5s;
margin-right: 45px;
}

span {
transform: skewX(15deg) 
}

span:nth-child(2) {
width: 20px;
margin-left: 30px;
position: relative;
top: 12%;
}

/**************SVG****************/

path.one {
transition: 0.4s;
transform: translateX(-60%);
}

path.two {
transition: 0.5s;
transform: translateX(-30%);
}

.cta:hover path.three {
animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
transform: translateX(0%);
animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
transform: translateX(0%);
animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
0% {
fill: white;
}
50% {
fill: #FBC638;
}
100% {
fill: white;
}
}









</style>